<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teams</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Divisions</h1>
	
	<a href="/homepage">Homepage</a>
	
	<a href="/conferencelist">Conferences</a>
	
	<a href="/teamlist">All teams</a>
	
	<table>
		<tr>
			<th><h3>Division</h3></th>
		</tr>
		
		<tr th:each="division : ${divisions}">
			<td th:text="${division.conference.name}"></td>
			<td th:text="${division.name}"></td>
		</tr>
	</table>
</body>