<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teams</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Divisions</h1>
	
	<a href="/homepage">Homepage</a>
	
	<a href="/conferencelist">Conferences</a>
	
	<a href="/teamlist">All teams</a>
	
	<div th:each="division : ${divisions}">
		<h3 th:text="${division.conference.name}"></h3>
		<ul>
			<li th:text="${division.name}"></li>
		</ul>
	</div>
	
	<!-- <table>
		<tr th:each="division : ${divisions}">
			<td th:text="${division.conference.name}"></td>
			<td th:text="${division.name}"></td>
		</tr>
	</table> -->
</body>