<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NFL</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>NFL</h1>
	
	<a href="/conferencelist">Conferences</a>	
	<a href="/divisionlist">Divisions</a>	
	<a href="/teamlist">All teams</a>
	
	<div th:each="conference : ${conferences}">
		<h3 th:text="${conference.name}"></h3>
	
		<ul th:each="division : ${conference.divisions}" >
			<li th:text="${division.name}"></li>
				<ul th:each="team : ${division.teams}">
					<a href="/games"><li th:text="${team.name}"></li></a>
				</ul>
		</ul>
	</div>
</body>